.menu {
  height: 4em;
  background-color: #677ae4;
  background-color: #05526A;
  background-color: #e46855;

  h1 {
    position: relative;
    padding: 5px 0 0 8px;
    color: #f9f9f9;
    font-size: 1.8em;
    font-style: italic;
  }
  a, .links {
    display: inline-block;
  }

  a {
    text-decoration: none;
    padding: 0 15px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;

    &:hover, &:active {
      opacity: 1;
    }
  }

  .links {
    padding: 0 21px;

    a {
      position: relative;
      bottom: 5px;
    }
  }

  button {
    margin-right: 15px;
    position: relative;
    top: -1px;
    left: -5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #262626;
    cursor: pointer;
    opacity: 1;

    &:hover {
      background-color: #111;
      opacity: 1;
    }
  }

  input:focus {
    background-color: #f9f9f9;
    outline: none;
  }

  .results {
    display: none;
    position: absolute;
    width: 215px;
    top: 54px;
    left: 10px;
    background-color: #f6f6f6;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .results li:hover {
    background: #f3f3f3;
  }
}
